[submodule "openpilot"]
	path = openpilot
	url = https://github.com/asiusai/openpilot.git
[submodule "sunnypilot"]
	path = sunnypilot
	url = https://github.com/asiusai/sunnypilot.git
[submodule "connect-data"]
	path = connect-data
	url = https://github.com/asiusai/connect-data
