---
import '../global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<title>Asius</title>
	</head>
	<body class="min-h-screen bg-black text-white flex items-center justify-center">
		<h1 class="text-4xl font-bold">Asius</h1>
	</body>
</html>
