@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root,
  .dark,
  [data-theme="dark"] {
    --color-primary: 188 195 255;
    --color-primary-x: 36 43 97;
    --color-primary-alt: 59 66 121;
    --color-primary-alt-x: 223 224 255;

    --color-secondary: 196 197 221;
    --color-secondary-x: 45 47 66;
    --color-secondary-alt: 67 69 89;
    --color-secondary-alt-x: 224 225 249;

    --color-tertiary: 168 210 147;
    --color-tertiary-x: 21 56 9;
    --color-tertiary-alt: 43 79 30;
    --color-tertiary-alt-x: 195 239 173;

    --color-error: 255 180 171;
    --color-error-x: 105 0 5;
    --color-error-alt: 147 0 10;
    --color-error-alt-x: 255 218 214;

    --color-background: 19 19 24;
    --color-background-x: 228 225 233;
    --color-background-alt: 27 27 33;
    --color-background-alt-x: 199 197 208;
  }

  html,
  body {
    /*
     * fill visible viewport
     * https://developers.google.com/web/updates/2016/12/url-bar-resizing
     */
    @apply h-full overflow-x-hidden overflow-y-auto bg-background text-background-x;
  }

  ::-webkit-scrollbar {
    width: 6px;
  }
  ::-webkit-scrollbar-thumb {
    background-color: color-mix(in oklab, var(--color-surface), var(--color-surface-tint) 40%);
    border-radius: 999px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background-color: color-mix(in oklab, var(--color-surface), var(--color-surface-tint) 60%);
  }

  button {
    /* revert user-agent style */
    text-align: unset;
  }
}

@layer components {
  .state-layer {
    @apply relative before:absolute before:inset-0 before:transition before:opacity-0 before:overflow-hidden sm:before:hover:opacity-[.08] sm:before:focus:opacity-[.12] before:active:opacity-[.12] disabled:before:opacity-0 disabled:before:hover:opacity-0;
  }

  .skeleton-loader {
    @apply relative isolate overflow-hidden;

    &::after {
      @apply absolute inset-0 bg-gradient-to-r from-transparent via-rose-100/10 to-transparent -translate-x-full animate-[shimmer_2s_infinite];
      content: "";
    }
  }

  .material-symbols-outlined {
    transition: font-variation-settings 0.2s;
    font-variation-settings:
      "FILL" var(--font-filled, 0),
      "OPSZ" var(--font-opsz, 24);

    &.size-20 {
      --font-opsz: 20;
      font-size: 20px;
      max-width: 20px;
    }

    &.size-24 {
      --font-opsz: 24;
      font-size: 24px;
      max-width: 24px;
    }

    &.size-40 {
      --font-opsz: 40;
      font-size: 40px;
      max-width: 40px;
    }

    &.size-48 {
      --font-opsz: 48;
      font-size: 48px;
      max-width: 48px;
    }

    &.icon-outline {
      --font-filled: 0;
    }

    &.icon-filled {
      --font-filled: 1;
    }
  }
}

@layer utilities {
  @keyframes shimmer {
    100% {
      transform: translateX(100%);
    }
  }
}

select {
  @apply bg-transparent rounded-md p-2;
}
