name: build

on:
  push:
    branches:
      - master
  pull_request:
  merge_group:
    types: [checks_requested]
  workflow_dispatch:

jobs:
  check:
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v4
      - uses: oven-sh/setup-bun@v2

      - run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - run: bun install

      - run: bun biome ci
      
      - run: bun run tsc
      
      - run: bun run build
      
      - run: bun run test

